// Color palette
$crayola-yellow: #FDD764;
$mikado-yellow: #FDC527;
$bright-yellow: #FDAD1C;
$tangerine: #F98400;
$sinopia: #D44100;
$rufous: #952201;
$black-bean: #4D1504;
$unbleached-silk: #f8d5ca;
$coral: #ff7950